<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "http://greatcleanjokes.com/wp-content/uploads/meme1.jpg" %>
  </div>

  <div id="content">
    <h1>How to talk to the cops!</h1>
    <p>The quickest way to a man's heart is with Chuck Norris' fist Chuck Norris doesn't go hunting... CHUCK NORRIS GOES KILLING, There is no chin behind Chuck Norris' beard. There is only another fist Contrary to popular belief, America is not a democracy, it is a Chucktatorship. Chuck Norris doesn't go hunting... CHUCK NORRIS GOES KILLING. Chuck Norris is the only man to ever defeat a brick wall in a game of tennis. Chuck Norris is so fast, he can run around the world and punch himself in the back of the head, Chuck Norris once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean. </p>
  </div>  
</div>
